.row {
  display: flex;
  max-width: $content-max-width;
  flex-grow: 1;

  &--center {
    justify-content: center;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &--center {
    align-items: center;
  }

  &--full-width {
    width: 100%;
  }
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.section {
  margin: ms(2) 0;
}

.header {
  display: flex;
  align-items: center;

  &__site-title {
    margin: 0;
    line-height: 1;
  }
}

@media screen and (max-width: 460px) {
  .header__site-title {
    font-size: 13.9vw;
  }
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 ms(1) ms(1);
  position: relative;
}

.button {
  display: block;
  line-height: ms(2);
  padding: 0 ms(-1);

  + .button {
    margin-left: ms(-1);
  }
}

.honeycomb {
  max-width: 400px;
  max-height: calc(100vmin - #{ms(0)});
}

.results {
  list-style: none;

  &__item {
    display: inline-block;

    &::after {
      content: ',\00a0';
    }

    &:last-child::after {
      content: '.';
    }

    > a {
      text-decoration: none;
    }
  }
}


.letters {
  position: absolute;

  &__input {
    position: absolute;
    height: 0;
    left: -9999px;
  }
}


.cell {

  &__background {

  }

  &__text {
    font-size: rem(75);
    text-anchor: middle;
  }
}
