.header {
	&__site-title {
		color: $site-title-text-color;
	}
}

.button {
  background: $button-background;
  text-align: center;
  text-decoration: none;
  color: $button-text-color;
  border: rem(2) solid $button-border-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $button-text-color-hover;
    background: $button-background-hover;
  }
}

.cell {

  &__background {
    fill: $honey-3;
		stroke: $honey-1;
		stroke-width: rem(3);
		cursor: pointer;
		transition: fill 0.2s linear;
  }

  &__text {
    text-transform: uppercase;
		cursor: pointer;
		user-select: none;
		transition: fill 0.2s linear;
  }

	&:hover {

		.cell__background {
			fill: $honey-2;
		}
	}

	&--active {

		.cell__background {
			fill: $honey-1 !important;
		}

		.cell__text {
			fill: $honey-4;
		}
	}
}
