doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1')
		meta(name='mobile-web-app-capable' content='yes')

		title Apiary

		link(href='./assets/manifest.json' rel='manifest')
		link(href='./assets/css/style.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet')

	body.body
		div#apiary.container.container--centered
			include partials/header
			include partials/help
			include partials/honeycomb
			include partials/results
		
		script(src='./assets/js/vendor.min.js')
		script(src='./assets/js/scripts.js')
		
		if !args.production
			script ApiaryLib.DEBUGMODE = true;
			
		script.
			var apiary = new ApiaryLib.Controller();
			$.publish('/controller/init', '#apiary');
