section#help.section.help(style='display:none')
	h3 About:
	p Apiary generates and solves the Spelling Bee word puzzle. Spelling Bee was created by Frank Longo and appears weekly in #[cite #[a(href='http://www.nytimes.com/section/magazine') The New York Times Magazine]] (Apiary is not affiliated with either).
	
	hr
	
	h3 Usage:
	p Change any cell in the honeycomb simply by clicking on it and typing a new letter. The list of words updates automatically.
	
	hr
	
	h3 The Rules:
	p The objective of Spelling Bee is to make as many words as possible from the letters in the honeycomb.

	h4 A valid word:
	ul
		li Is at least five letters long.
		li Only includes letters in the honeycomb.
		li Must include the centre letter.
		li May include each letter any number of times.

	h4 Scoring:
	ul
		li A word which includes all seven unique letters is worth three points.
		li All other words are worth one point.
