-
	var cell = {
		width: 220,
		height: 194
	};
		
	var grid = [
		{ x: 1, y: 2 },
		{ x: 1, y: 0 },
		{ x: 2, y: 1 },
		{ x: 2, y: 3 },
		{ x: 1, y: 4 },
		{ x: 0, y: 3 },
		{ x: 0, y: 1 }
	];

section.section.column.column--center
	form.letters
		each pos, index in grid
			input.letters__input.js-letter-input(
				maxlength='1'
				size='1'
				autocomplete='off'
			)
			
	svg.honeycomb(viewbox='0 0 #{cell.width * 2.5} #{cell.height * 3}')
	
		each pos, index in grid
			svg.cell.js-cell(
					x= pos.x * cell.width * 0.75
					y= pos.y * cell.height * 0.5
					width= cell.width
					height= cell.height
					viewbox='0 0 #{cell.width} #{cell.height}'
			)
				polygon.cell__background.js-cell-background(
					points='160,10 60,10 10,97 60,184 160,184 210,97'
				)
				
				text.cell__text.js-cell-text(
					x='50%'
					y='50%'
					dy='25'
				)
