section.section.results
	a.button.row.row--center.js-toggle-pane(
		href='#results'
	) Show results
	
	div#results.results__groups(style='display:none;')
		each points in ['3', '1']
			div.js-results-group(data-point-val= points)
				h4.js-results-header #{points}-point words (#[span.js-word-count 0]):
				ul.results.js-results-list
